<footer>
    <div class="footer-container">
        <!-- Miscellaneous Section -->
        <div class="footer-section">
            <h4><i class="fa-brands fa-mix"></i>MISCELLANEOUS</h4>
            <ul>
                <li><a aria-label="Contact" href="/contact">Contact-Us</a></li>
                <li><a aria-label="About Us" href="/about">About Us</a></li>
                <li><a aria-label="Privacy Policy" href="/privacy-policy">Privacy Policy</a>
                <li><a aria-label="Terms & Conditions" href="/terms-and-conditions">Terms & Conditions</a></li>
            </ul>
        </div>

        <!-- About Section -->
        <div class="footer-section">
            <h4><i class="fas fa-pen"></i> ABOUT</h4>
            <p>Beyond Man is a platform designed to empower young Indian programmers with easy-to-understand technical
                content. Through our BeyondMan website and BeyondMan YouTube channel, we deliver the latest insights in
                technology, explained in a simple Hinglish format. Our goal is to make learning accessible and engaging
                for aspiring developers.<a aria-label="About Page" href="/about">Learn More About Us</a></p>

        </div>

        <!-- Sent Email Section -->
        <div class="footer-section">
            <h4><i class="fas fa-envelope"></i> Contact Us</h4>
            <p>To ask any query about BeyondMan Website or BeyondMan YouTube channel "Query Us" here. <br>Just Enter
                Your Email And Send Confirmation Using Email Inbox.</p>
            <form id="send-email-form">
                <input class="send-email-input" style="border-radius: 4px 4px 0 0;" type="email"
                    placeholder="Enter Email Address" required>
                <button class="send-email-btn" aria-label="Send Email" style="border-radius: 0 0 4px 4px;"
                    type="submit">Send Email</button>
            </form>
            <div class="social-links">
                <a aria-label="YouTube Link" href="#"><i class="fab fa-youtube"></i></a>
                <a aria-label="LinkedIn Link" target="_blank" href="https://www.linkedin.com/company/beyond-man"><i
                        class="fab fa-linkedin"></i></a>
                <a aria-label="Instagram Link" target="_blank" href="https://www.instagram.com/beyondman.dev/"><i
                        class="fab fa-instagram"></i></a>
                <a aria-label="X (Former Twitter) Link" target="_blank" href="https://x.com/BeyondmanDev/"><i
                        class="fa-brands fa-x-twitter"></i></a>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <p>&copy; 2025 BeyondMan - All Rights Reserved.</p>
        <div class="footer-links">
            <a aria-label="Contact" href="/contact">Contact Us</a>
            <a aria-label="Privacy Policy" href="/privacy-policy">Privacy Policy </a> and <a
                aria-label="Terms and Conditions" href="/terms-and-conditions">Terms & Conditions</a>
            <a aria-label="Site Map" href="/sitemap.xml" target="_blank">Site
                Map</a>
        </div>
    </div>

</footer>