<footer>
    <div class="footer-container">


        <!-- Miscellaneous Section -->
        <div class="footer-section">
            <h4><i class="fa-brands fa-mix"></i>MISCELLANEOUS</h4>
            <ul>
                <li><a aria-label="Contact" href="/contact">Contact-Us</a></li>
                <li><a aria-label="Privacy Policy" href="/privacy-policy">Privacy Policy</a></li>
                <li><a aria-label="About Us" href="/about">About Us</a></li>
            </ul>
        </div>

        <!-- About Section -->
        <div class="footer-section">
            <h4><i class="fas fa-pen"></i> ABOUT</h4>
            <p>Beyond Man is a platform designed to empower young Indian programmers with easy-to-understand technical
                content. Through our BeyondMan website and BeyondMan YouTube channel, we deliver the latest insights in
                technology, explained in a simple Hinglish format. Our goal is to make learning accessible and engaging
                for aspiring developers.<a aria-label="About Page" href="/about">Learn More About Us</a></p>

        </div>

        <!-- Sent Email Section -->
        <div class="footer-section">
            <h4><i class="fas fa-envelope"></i> Contact Us</h4>
            <p>To ask any query about BeyondMan Website or BeyondMan YouTube channel "Query Us" here. <br>Just Enter
                Your Email And Send Confirmation Using Email Inbox.</p>
            <form id="send-email-form">
                <input style="border-radius: 4px 4px 0 0;" type="email" placeholder="Enter Email Address" required>
                <button aria-label="Send Email" style="border-radius: 0 0 4px 4px;" type="submit">Send Email</button>
            </form>
            <div class="social-links">
                <a aria-label="YouTube Link" href="#"><i class="fab fa-youtube"></i></a>
                <a aria-label="LinkedIn Link" target="_blank"
                    href="https://www.linkedin.com/in/shakibansarideveloper"><i class="fab fa-linkedin"></i></a>
                <a aria-label="Instagram Link" target="_blank" href="https://www.instagram.com/shakib_crowded/"><i
                        class="fab fa-instagram"></i></a>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <p>&copy; 2025 BeyondMan - All Rights Reserved.</p>
        <div class="footer-links">
            <a aria-label="Contact" href="/contact">Contact Us</a>
            <a aria-label="Privacy Policy" href="/privacy-policy">Privacy Policy</a>
            <a aria-label="Site Map" href="/sitemap.xml" target="_blank">Site
                Map</a>
        </div>
    </div>

</footer>