<nav class="navbar">
        <div class="navdiv">
                <!-- Logo -->
                <div class="logo">
                        <a href="/"><img src="/Resources/images/Beyond Man Logo (Circle).png" alt="Beyond Man Logo"></a>
                </div>

                <!-- Desktop Navigation -->
                <ul class="desktop-menu">
                        <li class="dropdown">
                                <a href="#" class="dropbtn">Programming Languages</a>
                                <ul class="dropdown-content">
                                        <li><a href="/programming/programming-in-c">Programming In C</a></li>
                                        <li><a href="/programming/object-oriented-programming-using-c++">Object-Oriented
                                                        Programming Using
                                                        C++</a></li>
                                        <li><a href="/programming/data-structure-and-algorithms-using-c++">Data
                                                        Structures and
                                                        Algorithms Using
                                                        C++</a></li>
                                        <li><a href="/programming/java-programming">Java Programming</a></li>
                                        <li><a href="/programming/programming-with-kotlin">Programming With Kotlin</a>
                                        </li>
                                        <li><a href="/programming/programming-in-javascript">Programming In
                                                        JavaScript</a></li>
                                        <li><a href="/programming/programming-in-python">Programming In Python</a></li>
                                        <li><a href="/programming/programming-in-swift">Programming In Swift</a></li>
                                        <li><a href="/programming/programming-in-golang">Programming In Golang</a></li>
                                        <li><a href="/programming/programming-with-php">Programming With PHP</a></li>
                                </ul>
                        </li>
                        <li class="dropdown">
                                <a href="#" class="dropbtn">Website
                                        Development</a>
                                <ul class=" dropdown-content">
                                        <li><a href="/website-dev/html-css-and-javascript">HTML, CSS, and JavaScript</a>
                                        </li>
                                        <li><a href="/website-dev/responsive-design-and-css-frameworks">Responsive
                                                        Design and CSS
                                                        Frameworks</a></li>
                                        <li><a href="/website-dev/frontend-frameworks">Frontend Frameworks (React,
                                                        Angular,
                                                        Vue.js)</a></li>
                                        <li><a href="/website-dev/backend-developement">Backend Development (Node.js,
                                                        Django,
                                                        Flask)</a></li>
                                        <li><a href="/website-dev/database-and-orm">Databases and ORM (SQL, MongoDB)</a>
                                        </li>
                                        <li><a href="/website-dev/api-development-and-integration">API Development and
                                                        Integration
                                                        (REST, GraphQL)</a></li>
                                        <li><a href="/website-dev/authentication-and-authorization">Authentication and
                                                        Authorization</a></li>
                                        <li><a href="/website-dev/website-performance-optimization">Web Performance
                                                        Optimization</a></li>
                                        <li><a href="/website-dev/deployment-and-hosting">Deployment and Hosting
                                                        (Netlify, Vercel,
                                                        AWS)</a></li>
                                        <li><a href="/website-dev/progressive-website-apps">Progressive Web Apps
                                                        (PWA)</a></li>
                                </ul>
                        </li>
                        <li class="dropdown">
                                <a href="#" class="dropbtn">Android Development</a>
                                <ul class="dropdown-content">
                                        <li><a href="/android-dev/basics-of-android-development">Basics of Android
                                                        Development</a></li>
                                        <li><a href="/android-dev/user-interface-development-in-android">User Interface
                                                        (UI)
                                                        Development ?</a>
                                        </li>
                                        <li><a href="/android-dev/core-components-of-android">Core Components</a></li>
                                        <li><a href="/android-dev/data-storage-and-management">Data Storage and
                                                        Management</a></li>
                                        <li><a href="/android-dev/networking-in-android">Networking</a></li>
                                        <li><a href="/android-dev/android-advanced-concept">Advanced Concept</a></li>
                                        <li><a href="/android-dev/working-with-apis-and-libraries-in-android">Working
                                                        with APIs and
                                                        Libraries</a></li>
                                        <li><a href="/android-dev/testing-and-debugging-in-android">Testing and
                                                        Debugging</a></li>
                                        <li><a href="/android-dev/performance-optimization-in-android">Performance
                                                        Optimization</a>
                                        </li>
                                        <li><a href="/android-dev/publishing-and-maintenance-in-android">Publishing and
                                                        Maintenance</a></li>
                                </ul>
                        </li>
                        <li class="dropdown">
                                <a href="#" class="dropbtn">Software Development</a>
                                <ul class="dropdown-content">
                                        <li><a href="/software-dev/software-development-life-cycle">Software Development
                                                        Life Cycle
                                                        (SDLC)</a></li>
                                        <li><a href="/software-dev/agile-and-scrum-methodologies">Agile and Scrum
                                                        Methodologies</a>
                                        </li>
                                        <li><a href="/software-dev/version-control-and-ci-cd-pipelines">Version Control
                                                        and CI/CD
                                                        Pipelines</a></li>
                                        <li><a href="/software-dev/unit-testing-integration-testing-and-automation-of-software">Unit
                                                        Testing, Integration Testing, and Automation</a></li>
                                        <li><a href="/software-dev/code-reviews-and-team-collaboration-in-software">Code
                                                        Reviews and
                                                        Team Collaboration</a></li>
                                        <li><a href="/software-dev/dependency-management-and-package-managers">Dependency
                                                        Management
                                                        and Package Managers</a></li>
                                        <li><a href="/software-dev/application-security-best-practices">Application
                                                        Security Best
                                                        Practices</a></li>
                                        <li><a href="/software-dev/software-documentation">Software Documentation</a>
                                        </li>
                                        <li><a href="/software-dev/api-desing-and-sdk-development">API Design and SDK
                                                        Development</a>
                                        </li>
                                        <li><a href="/software-dev/scalability-and-maintainability-of-software">Scalability
                                                        and
                                                        Maintainability</a>
                                        </li>
                                </ul>
                        </li>
                </ul>

                <div class="searchBox">
                        <form action="/search/" method="get" class="searchForm">
                                <input class="searchInput" type="text" name="search" placeholder="Search Here..."
                                        autocomplete="off" aria-label="Search">
                                <button type="submit" class="searchButton" aria-label="Submit search">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                                                viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                                stroke-linecap="round" stroke-linejoin="round">
                                                <circle cx="11" cy="11" r="8"></circle>
                                                <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
                                        </svg>
                                </button>
                        </form>
                </div>


                <% if (!user) { %>
                        <a href="/login" class="nav-login-btn">Login</a>
                        <% } else { %>
                                <i aria-label="Log Out" onclick="showLogOutCard()"
                                        class="fa-solid fa-power-off nav-power-off" style="margin:0 1rem;"></i>
                                <% } %>
                                        <div id="logoutCard">
                                                <p>Are you sure to log out Beyond Man ?</p>
                                                <button aria-label="Cancel " id="cancelButton">Cancel</button>
                                                <button aria-label="Log Out" id="logoutButton">Log
                                                        Out</button>
                                        </div>
                                        <div id="overlay" onclick="hideLogOutCard()"></div>


                                        <!-- Hamburger Icon for Mobile -->
                                        <div class="hamburger" onclick="toggleMenu()">
                                                <div class="bar"></div>
                                                <div class="bar"></div>
                                                <div class="bar"></div>
                                        </div>

        </div>


        <!-- Mobile Menu -->
        <div class="mobile-menu">
                <!-- User Dropdown -->
                <% if (!user) { %>
                        <a href="/login" class="ham-login-btn">Login</a>
                        <a href="/register" class="ham-register-btn">Register</a>
                        <% } else { %>
                                <i aria-label="Log Out" onclick="showLogOutCard()"
                                        class="fa-solid fa-power-off ham-power-off"></i>
                                <% } %>
                                        <div id="logoutCard">
                                                <p>Are you sure to log out Beyond Man ?</p>
                                                <button aria-label="Cancel " id="cancelButton">Cancel</button>
                                                <button aria-label="Log Out" id="logoutButton">Log
                                                        Out</button>
                                        </div>

                                        <div id="overlay" onclick="hideLogOutCard()"></div>

                                        <ul>
                                                <li class="dropdown">
                                                        <a aria-label="Programming Languages" href="/programming"
                                                                class="dropbtn"
                                                                onclick="toggleDropdown(event)">Programming
                                                                Languages</a>
                                                        <ul class="dropdown-content">
                                                                <li><a aria-label="Programming In C"
                                                                                href="/programming/programming-in-c">Programming
                                                                                In C</a></li>
                                                                <li><a aria-label="Object Oriented Programming"
                                                                                href="/programming/object-oriented-programming-using-c++">Object-Oriented
                                                                                Programming Using
                                                                                C++</a></li>
                                                                <li><a aria-label="Data Structure And Algorithms Using C++"
                                                                                href="/programming/data-structure-and-algorithms-using-c++">Data
                                                                                Structures And
                                                                                Algorithms Using
                                                                                C++</a></li>
                                                                <li><a aria-label="Java Programming"
                                                                                href="/programming/java-programming">Java
                                                                                Programming</a></li>
                                                                <li><a aria-label="Programming With Kotlin"
                                                                                href="/programming/programming-with-kotlin">Programming
                                                                                With Kotlin</a>
                                                                </li>
                                                                <li><a aria-label="Programming In JavaScript"
                                                                                href="/programming/programming-in-javascript">Programming
                                                                                In
                                                                                JavaScript</a></li>
                                                                <li><a aria-label="Programming In Python"
                                                                                href="/programming/programming-in-python">Programming
                                                                                In
                                                                                Python</a></li>
                                                                <li><a aria-label="Programming In Swift"
                                                                                href="/programming/programming-in-swift">Programming
                                                                                In
                                                                                Swift</a></li>
                                                                <li><a aria-label="Programming In GoLang"
                                                                                href="/programming/programming-in-golang">Programming
                                                                                In
                                                                                Golang</a></li>
                                                                <li><a aria-label="Programming With PHP"
                                                                                href="/programming/programming-with-php">Programming
                                                                                With
                                                                                PHP</a></li>
                                                        </ul>
                                                </li>
                                                <li class="dropdown">
                                                        <a href="/website-dev" class="dropbtn"
                                                                onclick="toggleDropdown(event)"
                                                                aria-label="Website Development">Website
                                                                Development</a>
                                                        <ul class="dropdown-content">
                                                                <li><a href="/website-dev/html-css-and-javascript"
                                                                                aria-label="HTML, CSS, and JavaScript">HTML,
                                                                                CSS,
                                                                                and JavaScript</a></li>
                                                                <li><a href="/website-dev/responsive-design-and-css-frameworks"
                                                                                aria-label="Responsive Design and CSS Frameworks">Responsive
                                                                                Design and CSS
                                                                                Frameworks</a>
                                                                </li>
                                                                <li><a href="/website-dev/frontend-frameworks"
                                                                                aria-label="Frontend Frameworks (React, Angular, Vue.js)">Frontend
                                                                                Frameworks (React,
                                                                                Angular, Vue.js)</a>
                                                                </li>
                                                                <li><a href="/website-dev/backend-developement"
                                                                                aria-label="Backend Development (Node.js, Django, Flask)">Backend
                                                                                Development (Node.js,
                                                                                Django, Flask)</a></li>
                                                                <li><a href="/website-dev/database-and-orm"
                                                                                aria-label="Databases and ORM (SQL, MongoDB)">Databases
                                                                                and ORM (SQL,
                                                                                MongoDB)</a></li>
                                                                <li><a href="/website-dev/api-development-and-integration"
                                                                                aria-label="API Development and Integration (REST, GraphQL)">API
                                                                                Development and
                                                                                Integration
                                                                                (REST, GraphQL)</a></li>
                                                                <li><a href="/website-dev/authentication-and-authorization"
                                                                                aria-label="Authentication and Authorization">Authentication
                                                                                and
                                                                                Authorization</a></li>
                                                                <li><a href="/website-dev/website-performance-optimization"
                                                                                aria-label="Web Performance Optimization">Web
                                                                                Performance
                                                                                Optimization</a></li>
                                                                <li><a href="/website-dev/deployment-and-hosting"
                                                                                aria-label="Deployment and Hosting (Netlify, Vercel, AWS)">Deployment
                                                                                and Hosting (Netlify,
                                                                                Vercel, AWS)</a></li>
                                                                <li><a href="/website-dev/progressive-website-apps"
                                                                                aria-label="Progressive Web Apps (PWA)">Progressive
                                                                                Web Apps
                                                                                (PWA)</a></li>
                                                        </ul>
                                                </li>
                                                <li class="dropdown">
                                                        <a href="/android-dev" class="dropbtn"
                                                                onclick="toggleDropdown(event)"
                                                                aria-label="Android Development">Android
                                                                Development</a>
                                                        <ul class="dropdown-content">
                                                                <li><a href="/android-dev/basics-of-android-development"
                                                                                aria-label="Basics of Android Development">Basics
                                                                                of Android
                                                                                Development</a></li>
                                                                <li><a href="/android-dev/user-interface-development-in-android"
                                                                                aria-label="User Interface (UI) Development">User
                                                                                Interface (UI)
                                                                                Development</a></li>
                                                                <li><a href="/android-dev/core-components-of-android"
                                                                                aria-label="Core Components">Core
                                                                                Components</a></li>
                                                                <li><a href="/android-dev/data-storage-and-management-in-android"
                                                                                aria-label="Data Storage and Management">Data
                                                                                Storage and
                                                                                Management</a></li>
                                                                <li><a href="/android-dev/networking-in-android"
                                                                                aria-label="Networking">Networking</a>
                                                                </li>
                                                                <li><a href="/android-dev/android-advanced-concept"
                                                                                aria-label="Advanced Concept">Advanced
                                                                                Concept</a></li>
                                                                <li><a href="/android-dev/working-with-apis-and-libraries-in-android"
                                                                                aria-label="Working with APIs and Libraries">Working
                                                                                with APIs
                                                                                and Libraries</a></li>
                                                                <li><a href="/android-dev/testing-and-debugging-in-android"
                                                                                aria-label="Testing and Debugging">Testing
                                                                                and Debugging</a>
                                                                </li>
                                                                <li><a href="/android-dev/performance-optimization-in-android"
                                                                                aria-label="Performance Optimization">Performance
                                                                                Optimization</a></li>
                                                                <li><a href="/android-dev/publishing-and-maintenance-in-android"
                                                                                aria-label="Publishing and Maintenance">Publishing
                                                                                and
                                                                                Maintenance</a></li>
                                                        </ul>
                                                </li>
                                                <li class="dropdown">
                                                        <a href="/software-dev" class="dropbtn"
                                                                onclick="toggleDropdown(event)"
                                                                aria-label="Software Development">Software
                                                                Development</a>
                                                        <ul class="dropdown-content">
                                                                <li><a href="/software-dev/software-development-life-cycle"
                                                                                aria-label="Software Development Life Cycle (SDLC)">Software
                                                                                Development Life Cycle
                                                                                (SDLC)</a></li>
                                                                <li><a href="/software-dev/agile-and-scrum-methodologies"
                                                                                aria-label="Agile and Scrum Methodologies">Agile
                                                                                and Scrum
                                                                                Methodologies</a></li>
                                                                <li><a href="/software-dev/version-control-and-ci-cd-pipelines"
                                                                                aria-label="Version Control and CI/CD Pipelines">Version
                                                                                Control
                                                                                and CI/CD Pipelines</a>
                                                                </li>
                                                                <li><a href="/software-dev/unit-testing-integration-testing-and-automation-of-software"
                                                                                aria-label="Unit Testing, Integration Testing, and Automation">Unit
                                                                                Testing, Integration
                                                                                Testing, and
                                                                                Automation</a></li>
                                                                <li><a href="/software-dev/code-reviews-and-team-collaboration-in-software"
                                                                                aria-label="Code Reviews and Team Collaboration">Code
                                                                                Reviews
                                                                                and Team
                                                                                Collaboration</a>
                                                                </li>
                                                                <li><a href="/software-dev/dependency-management-and-package-managers"
                                                                                aria-label="Dependency Management and Package Managers">Dependency
                                                                                Management and Package
                                                                                Managers</a></li>
                                                                <li><a href="/software-dev/application-security-best-practices"
                                                                                aria-label="Application Security Best Practices">Application
                                                                                Security Best
                                                                                Practices</a>
                                                                </li>
                                                                <li><a href="/software-dev/software-documentation"
                                                                                aria-label="Software Documentation">Software
                                                                                Documentation</a></li>
                                                                <li><a href="/software-dev/api-desing-and-sdk-development"
                                                                                aria-label="API Design and SDK Development">API
                                                                                Design and SDK
                                                                                Development</a></li>
                                                                <li><a href="/software-dev/scalability-and-maintainability-of-software"
                                                                                aria-label="Scalability and Maintainability">Scalability
                                                                                and
                                                                                Maintainability</a></li>
                                                        </ul>
                                                </li>
                                        </ul>
        </div>
</nav>