<nav class="navbar">
        <div class="navdiv">
                <!-- Logo -->
                <div class="logo">
                        <a href="/"><img src="/Resources/images/Beyond Man Logo.png" alt="Beyond Man Logo"></a>
                </div>

                <!-- Desktop Navigation -->
                <ul class="desktop-menu">
                        <li class="dropdown">
                                <a href="#" class="dropbtn">Programming Languages</a>
                                <ul class="dropdown-content">
                                        <li><a href="/programming/programming-in-c">Programming In C</a></li>
                                        <li><a href="/programming/object-oriented-programming">Object-Oriented
                                                        Programming Using
                                                        C++</a></li>
                                        <li><a href="/programming/data-structure-and-algorithms-using-c++">Data
                                                        Structures and
                                                        Algorithms Using
                                                        C++</a></li>
                                        <li><a href="/programming/java-programming">Java Programming</a></li>
                                        <li><a href="/programming/programming-with-kotlin">Programming With Kotlin</a>
                                        </li>
                                        <li><a href="/programming/programming-in-javascript">Programming In
                                                        JavaScript</a></li>
                                        <li><a href="/programming/programming-in-python">Programming In Python</a></li>
                                        <li><a href="/programming/programming-in-swift">Programming In Swift</a></li>
                                        <li><a href="/programming/programming-in-golang">Programming In Golang</a></li>
                                        <li><a href="/programming/programming-with-php">Programming With PHP</a></li>
                                </ul>
                        </li>
                        <li class="dropdown">
                                <a href="#" class="dropbtn" style="padding-left: 35px; padding-right: 35px;">Website
                                        Development</a>
                                <ul class="dropdown-content">
                                        <li><a href="/website-dev/html-css-and-javascript">HTML, CSS, and JavaScript</a>
                                        </li>
                                        <li><a href="/website-dev/responsive-design-and-css-frameworks">Responsive
                                                        Design and CSS
                                                        Frameworks</a></li>
                                        <li><a href="/website-dev/frontend-frameworks">Frontend Frameworks (React,
                                                        Angular,
                                                        Vue.js)</a></li>
                                        <li><a href="/website-dev/backend-developement">Backend Development (Node.js,
                                                        Django,
                                                        Flask)</a></li>
                                        <li><a href="/website-dev/database-and-orm">Databases and ORM (SQL, MongoDB)</a>
                                        </li>
                                        <li><a href="/website-dev/api-development-and-integration">API Development and
                                                        Integration
                                                        (REST, GraphQL)</a></li>
                                        <li><a href="/website-dev/authentication-and-authorization">Authentication and
                                                        Authorization</a></li>
                                        <li><a href="/website-dev/website-performance-optimization">Web Performance
                                                        Optimization</a></li>
                                        <li><a href="/website-dev/deployment-and-hosting">Deployment and Hosting
                                                        (Netlify, Vercel,
                                                        AWS)</a></li>
                                        <li><a href="/website-dev/progressive-website-apps">Progressive Web Apps
                                                        (PWA)</a></li>
                                </ul>
                        </li>
                        <li class="dropdown">
                                <a href="#" class="dropbtn">Android Development</a>
                                <ul class="dropdown-content">
                                        <li><a href="/android-dev/basics-of-android-development">Basics of Android
                                                        Development</a></li>
                                        <li><a href="/android-dev/user-interface-development-in-android">User Interface
                                                        (UI)
                                                        Development ?</a>
                                        </li>
                                        <li><a href="/android-dev/core-components-of-android">Core Components</a></li>
                                        <li><a href="/android-dev/data-storage-and-management">Data Storage and
                                                        Management</a></li>
                                        <li><a href="/android-dev/networking-in-android">Networking</a></li>
                                        <li><a href="/android-dev/android-advanced-concept">Advanced Concept</a></li>
                                        <li><a href="/android-dev/working-with-apis-and-libraries-in-android">Working
                                                        with APIs and
                                                        Libraries</a></li>
                                        <li><a href="/android-dev/testing-and-debugging-in-android">Testing and
                                                        Debugging</a></li>
                                        <li><a href="/android-dev/performance-optimization-in-android">Performance
                                                        Optimization</a>
                                        </li>
                                        <li><a href="/android-dev/publishing-and-maintenance-in-android">Publishing and
                                                        Maintenance</a></li>
                                </ul>
                        </li>
                        <li class="dropdown">
                                <a href="#" class="dropbtn">Software Development</a>
                                <ul class="dropdown-content">
                                        <li><a href="/software-dev/software-development-life-cycle">Software Development
                                                        Life Cycle
                                                        (SDLC)</a></li>
                                        <li><a href="/software-dev/agile-and-scrum-methodologies">Agile and Scrum
                                                        Methodologies</a>
                                        </li>
                                        <li><a href="/software-dev/version-control-and-ci-cd-pipelines">Version Control
                                                        and CI/CD
                                                        Pipelines</a></li>
                                        <li><a href="/software-dev/unit-testing-integration-testing-and-automation-of-software">Unit
                                                        Testing, Integration Testing, and Automation</a></li>
                                        <li><a href="/software-dev/code-reviews-and-team-collaboration-in-software">Code
                                                        Reviews and
                                                        Team Collaboration</a></li>
                                        <li><a href="/software-dev/dependency-management-and-package-managers">Dependency
                                                        Management
                                                        and Package Managers</a></li>
                                        <li><a href="/software-dev/application-security-best-practices">Application
                                                        Security Best
                                                        Practices</a></li>
                                        <li><a href="/software-dev/software-documentation">Software Documentation</a>
                                        </li>
                                        <li><a href="/software-dev/api-desing-and-sdk-development">API Design and SDK
                                                        Development</a>
                                        </li>
                                        <li><a href="/software-dev/scalability-and-maintainability-of-software">Scalability
                                                        and
                                                        Maintainability</a>
                                        </li>
                                </ul>
                        </li>
                </ul>

                <!-- Search Box -->
                <div class="searchBox">
                        <form action="/search/" method="get">
                                <input class="searchInput" type="text" name="search" placeholder="Search Here">
                                <button type="submit" class="searchButton" aria-label="Search Button">
                                        <!-- Search Icon -->
                                        <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19"
                                                viewBox="0 0 29 29" fill="none">
                                                <g clip-path="url(#clip0_2_17)">
                                                        <g filter="url(#filter0_d_2_17)">
                                                                <path d="M23.7953 23.9182L19.0585 19.1814M19.0585 19.1814C19.8188 18.4211 20.4219 17.5185 20.8333 16.5251C21.2448 15.5318 21.4566 14.4671 21.4566 13.3919C21.4566 12.3167 21.2448 11.252 20.8333 10.2587C20.4219 9.2653 19.8188 8.36271 19.0585 7.60242C18.2982 6.84214 17.3956 6.23905 16.4022 5.82759C15.4089 5.41612 14.3442 5.20435 13.269 5.20435C12.1938 5.20435 11.1291 5.41612 10.1358 5.82759C9.1424 6.23905 8.23981 6.84214 7.47953 7.60242C5.94407 9.13789 5.08145 11.2204 5.08145 13.3919C5.08145 15.5634 5.94407 17.6459 7.47953 19.1814C9.01499 20.7168 11.0975 21.5794 13.269 21.5794C15.4405 21.5794 17.523 20.7168 19.0585 19.1814Z"
                                                                        stroke="#da2c38" stroke-width="3"
                                                                        stroke-linecap="round" stroke-linejoin="round"
                                                                        shape-rendering="crispEdges"></path>
                                                        </g>
                                                </g>
                                                <defs>
                                                        <filter id="filter0_d_2_17" x="-0.418549" y="3.70435"
                                                                width="29.7139" height="29.7139"
                                                                filterUnits="userSpaceOnUse"
                                                                color-interpolation-filters="sRGB">
                                                                <feFlood flood-opacity="0" result="BackgroundImageFix">
                                                                </feFlood>
                                                                <feColorMatrix in="SourceAlpha" type="matrix"
                                                                        values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                                                                        result="hardAlpha">
                                                                </feColorMatrix>
                                                                <feOffset dy="4"></feOffset>
                                                                <feGaussianBlur stdDeviation="2"></feGaussianBlur>
                                                                <feComposite in2="hardAlpha" operator="out">
                                                                </feComposite>
                                                                <feColorMatrix type="matrix"
                                                                        values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0">
                                                                </feColorMatrix>
                                                                <feBlend mode="normal" in2="BackgroundImageFix"
                                                                        result="effect1_dropShadow_2_17">
                                                                </feBlend>
                                                                <feBlend mode="normal" in="SourceGraphic"
                                                                        in2="effect1_dropShadow_2_17" result="shape">
                                                                </feBlend>
                                                        </filter>
                                                        <clipPath id="clip0_2_17">
                                                                <rect width="28.0702" height="28.0702" fill="white"
                                                                        transform="translate(0.403503 0.526367)"></rect>
                                                        </clipPath>
                                                </defs>
                                        </svg>
                                </button>
                        </form>
                </div>


                <!-- User Dropdown -->
                <% if (!user) { %>
                        <div class="dropdown-items">
                                <div class="dropdown">
                                        <button class="dropbtn" aria-label="User">
                                                <i class="fa fa-user"></i>
                                                <p>USER</p>
                                        </button>
                                        <div class="dropdown-content" style="overflow-y:hidden; height: auto;">
                                                <a aria-label="Log In" href="/user-login"><button
                                                                style="padding-right: 24px;" aria-label="Log In">Log
                                                                in</button></a>
                                                <a aria-label="Sign Up" href="/user-signup"><button
                                                                aria-label="Sign Up">Sign Up</button></a>
                                        </div>
                                </div>
                        </div>
                        <% } else { %>
                                <div class="dropdown" style="padding: 10px;">
                                        <button class="dropbtn" aria-label="User Dropdown">
                                                <i class="fa fa-user"></i>
                                        </button>
                                        <div class="dropdown-content" style="height: auto; overflow-y: hidden;">
                                                <button aria-label="Log Out" onclick="showLogOutCard()"
                                                        style="padding-right: 24px;">Log
                                                        Out</button>
                                        </div>
                                </div>
                                <% } %>

                                        <div id="logoutCard">
                                                <p>Are you sure to log out Beyond Man ?</p>
                                                <button aria-label="Cancel " id="cancelButton">Cancel</button>
                                                <button aria-label="Log Out" id="logoutButton">Log Out</button>
                                        </div>

                                        <div id="overlay" onclick="hideLogOutCard()"></div>



                                        <!-- Hamburger Icon for Mobile -->
                                        <div class="hamburger" onclick="toggleMenu()">
                                                <div class="bar"></div>
                                                <div class="bar"></div>
                                                <div class="bar"></div>
                                        </div>

        </div>


        <!-- Mobile Menu -->
        <div class="mobile-menu">
                <ul>
                        <li class="dropdown">
                                <a aria-label="Programming Languages" href="/programming" class="dropbtn"
                                        onclick="toggleDropdown(event)">Programming Languages</a>
                                <ul class="dropdown-content">
                                        <li><a aria-label="Programming In C"
                                                        href="/programming/programming-in-c">Programming In C</a></li>
                                        <li><a aria-label="Object Oriented Programming"
                                                        href="/programming/object-oriented-programming">Object-Oriented
                                                        Programming Using
                                                        C++</a></li>
                                        <li><a aria-label="Data Structure And Algorithms Using C++"
                                                        href="/programming/data-structure-and-algorithms-using-c++">Data
                                                        Structures And
                                                        Algorithms Using
                                                        C++</a></li>
                                        <li><a aria-label="Java Programming" href="/programming/java-programming">Java
                                                        Programming</a></li>
                                        <li><a aria-label="Programming With Kotlin"
                                                        href="/programming/programming-with-kotlin">Programming
                                                        With Kotlin</a>
                                        </li>
                                        <li><a aria-label="Programming In JavaScript"
                                                        href="/programming/programming-in-javascript">Programming In
                                                        JavaScript</a></li>
                                        <li><a aria-label="Programming In Python"
                                                        href="/programming/programming-in-python">Programming In
                                                        Python</a></li>
                                        <li><a aria-label="Programming In Swift"
                                                        href="/programming/programming-in-swift">Programming In
                                                        Swift</a></li>
                                        <li><a aria-label="Programming In GoLang"
                                                        href="/programming/programming-in-golang">Programming In
                                                        Golang</a></li>
                                        <li><a aria-label="Programming With PHP"
                                                        href="/programming/programming-with-php">Programming With
                                                        PHP</a></li>
                                </ul>
                        </li>
                        <li class="dropdown">
                                <a href="/website-dev" class="dropbtn" onclick="toggleDropdown(event)"
                                        aria-label="Website Development">Website Development</a>
                                <ul class="dropdown-content">
                                        <li><a href="/website-dev/html-css-and-javascript"
                                                        aria-label="HTML, CSS, and JavaScript">HTML, CSS,
                                                        and JavaScript</a></li>
                                        <li><a href="/website-dev/responsive-design-and-css-frameworks"
                                                        aria-label="Responsive Design and CSS Frameworks">Responsive
                                                        Design and CSS Frameworks</a>
                                        </li>
                                        <li><a href="/website-dev/frontend-frameworks"
                                                        aria-label="Frontend Frameworks (React, Angular, Vue.js)">Frontend
                                                        Frameworks (React,
                                                        Angular, Vue.js)</a></li>
                                        <li><a href="/website-dev/backend-developement"
                                                        aria-label="Backend Development (Node.js, Django, Flask)">Backend
                                                        Development (Node.js,
                                                        Django, Flask)</a></li>
                                        <li><a href="/website-dev/database-and-orm"
                                                        aria-label="Databases and ORM (SQL, MongoDB)">Databases
                                                        and ORM (SQL, MongoDB)</a></li>
                                        <li><a href="/website-dev/api-development-and-integration"
                                                        aria-label="API Development and Integration (REST, GraphQL)">API
                                                        Development and Integration
                                                        (REST, GraphQL)</a></li>
                                        <li><a href="/website-dev/authentication-and-authorization"
                                                        aria-label="Authentication and Authorization">Authentication and
                                                        Authorization</a></li>
                                        <li><a href="/website-dev/website-performance-optimization"
                                                        aria-label="Web Performance Optimization">Web Performance
                                                        Optimization</a></li>
                                        <li><a href="/website-dev/deployment-and-hosting"
                                                        aria-label="Deployment and Hosting (Netlify, Vercel, AWS)">Deployment
                                                        and Hosting (Netlify,
                                                        Vercel, AWS)</a></li>
                                        <li><a href="/website-dev/progressive-website-apps"
                                                        aria-label="Progressive Web Apps (PWA)">Progressive Web Apps
                                                        (PWA)</a></li>
                                </ul>
                        </li>
                        <li class="dropdown">
                                <a href="/android-dev" class="dropbtn" onclick="toggleDropdown(event)"
                                        aria-label="Android Development">Android
                                        Development</a>
                                <ul class="dropdown-content">
                                        <li><a href="/android-dev/basics-of-android-development"
                                                        aria-label="Basics of Android Development">Basics of Android
                                                        Development</a></li>
                                        <li><a href="/android-dev/user-interface-development-in-android"
                                                        aria-label="User Interface (UI) Development">User Interface (UI)
                                                        Development</a></li>
                                        <li><a href="/android-dev/core-components-of-android"
                                                        aria-label="Core Components">Core
                                                        Components</a></li>
                                        <li><a href="/android-dev/data-storage-and-management-in-android"
                                                        aria-label="Data Storage and Management">Data
                                                        Storage and Management</a></li>
                                        <li><a href="/android-dev/networking-in-android"
                                                        aria-label="Networking">Networking</a></li>
                                        <li><a href="/android-dev/android-advanced-concept"
                                                        aria-label="Advanced Concept">Advanced
                                                        Concept</a></li>
                                        <li><a href="/android-dev/working-with-apis-and-libraries-in-android"
                                                        aria-label="Working with APIs and Libraries">Working with APIs
                                                        and Libraries</a></li>
                                        <li><a href="/android-dev/testing-and-debugging-in-android"
                                                        aria-label="Testing and Debugging">Testing and Debugging</a>
                                        </li>
                                        <li><a href="/android-dev/performance-optimization-in-android"
                                                        aria-label="Performance Optimization">Performance
                                                        Optimization</a></li>
                                        <li><a href="/android-dev/publishing-and-maintenance-in-android"
                                                        aria-label="Publishing and Maintenance">Publishing and
                                                        Maintenance</a></li>
                                </ul>
                        </li>
                        <li class="dropdown">
                                <a href="/software-dev" class="dropbtn" onclick="toggleDropdown(event)"
                                        aria-label="Software Development">Software
                                        Development</a>
                                <ul class="dropdown-content">
                                        <li><a href="/software-dev/software-development-life-cycle"
                                                        aria-label="Software Development Life Cycle (SDLC)">Software
                                                        Development Life Cycle
                                                        (SDLC)</a></li>
                                        <li><a href="/software-dev/agile-and-scrum-methodologies"
                                                        aria-label="Agile and Scrum Methodologies">Agile and Scrum
                                                        Methodologies</a></li>
                                        <li><a href="/software-dev/version-control-and-ci-cd-pipelines"
                                                        aria-label="Version Control and CI/CD Pipelines">Version Control
                                                        and CI/CD Pipelines</a>
                                        </li>
                                        <li><a href="/software-dev/unit-testing-integration-testing-and-automation-of-software"
                                                        aria-label="Unit Testing, Integration Testing, and Automation">Unit
                                                        Testing, Integration
                                                        Testing, and Automation</a></li>
                                        <li><a href="/software-dev/code-reviews-and-team-collaboration-in-software"
                                                        aria-label="Code Reviews and Team Collaboration">Code Reviews
                                                        and Team Collaboration</a>
                                        </li>
                                        <li><a href="/software-dev/dependency-management-and-package-managers"
                                                        aria-label="Dependency Management and Package Managers">Dependency
                                                        Management and Package
                                                        Managers</a></li>
                                        <li><a href="/software-dev/application-security-best-practices"
                                                        aria-label="Application Security Best Practices">Application
                                                        Security Best Practices</a>
                                        </li>
                                        <li><a href="/software-dev/software-documentation"
                                                        aria-label="Software Documentation">Software
                                                        Documentation</a></li>
                                        <li><a href="/software-dev/api-desing-and-sdk-development"
                                                        aria-label="API Design and SDK Development">API Design and SDK
                                                        Development</a></li>
                                        <li><a href="/software-dev/scalability-and-maintainability-of-software"
                                                        aria-label="Scalability and Maintainability">Scalability and
                                                        Maintainability</a></li>
                                </ul>
                        </li>
                </ul>
        </div>
</nav>